<ion-content [fullscreen]="true">
  <ion-img src="assets/logo.png" class="logo"></ion-img>
  <ion-button routerLink="/login" class="back-button">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <div class="reset-password-container">
    <ion-title>Reset Password</ion-title>
    <p>Enter your email address to reset your password</p>

    <ion-row style="justify-content: center;">
      <ion-col size-md="12" size-lg="6" size-xl="6">
        <form>
          <div class="ion-padding">
            <ion-item lines="full" class="input-field">
              <ion-input [(ngModel)]="email" name="email" placeholder="Email" clearInput></ion-input>
              <ion-icon name="mail-outline" slot="start"></ion-icon>
            </ion-item>

            <ion-button expand="block" (click)="resetPassword()">Reset Password</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </div>
</ion-content>